*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}


/* Color scheme I like E5FCC2   9DE0AD   45ADA8   547980   594F4F
 */

body {
    background-color:#fef6dd;
}


aside {
    background-color: #45ADA8;
}

section
    {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        margin-top:100px;
        background-color:#547980;
        padding:300px;
    }

section figure {
    background-color: #594F4F;

}

header {
    background-color: #E5FCC2;
    margin-bottom: 50px;
}

.intro {
    background-color:#9DE0AD;
}

h1 {
    display:inline-flex;
    flex-wrap:wrap;
    justify-content: left;
    padding: 20px;
    margin: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    border:black;
    border-width:5px;
    border-style: solid;
}

nav {
    display:inline-flex;
    flex-wrap:wrap;
    padding-top: 30px;
    padding-bottom:30px;
    margin-right: 20px;
    float: right;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color:black;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    margin-left: 25px;
    border:black;
    border-width:2px;
    border-style: solid;
    padding:10px;}

nav ul li:hover{
    background-color: black;
    color:white;
}